{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div>
    <!--  Profile 들어가는 부분  -->
    <div class="my-5">

      <img id="image"
           src=""
           style="width: 13rem; height: 13rem; border-radius: 20rem; object-fit: cover"
           alt="">

      <h1 id="nickname"></h1>
      <h4 id="message"></h4>

    </div>

    <!--  현재 페이지의 주인이 접속한 유저와 동일하다면 수정 버튼 생성  -->
    <div id="owner_section">
    </div>

    <!--  본인 작성한 게시글 리스트 들어갈 부분 -->
    <div></div>

  </div>

<script src="{% static 'accountapp/js/retrieve.js' %}"></script>
<script>
  initialize("{{ view.kwargs.pk }}");
</script>


{% endblock %}