{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div style="max-width: 400px; margin: auto">
    <div class="my-5">

      <h1 id="title"></h1>
      <h4 id="created_at"></h4>

      <img id="image"
           src=""
           style="border-radius: 2rem; width: 100%;"
           alt="">

    </div>

    <div id="content">
    </div>

    <!--  현재 페이지의 주인이 접속한 유저와 동일하다면 수정 버튼 생성  -->
    <div id="owner_section">
    </div>

  </div>

<script src="{% static 'articleapp/js/retrieve.js' %}"></script>
<script>
  initialize("{{ view.kwargs.pk }}");
</script>


{% endblock %}