{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div class="my-5" style="max-width: 500px; margin: auto">
    <div class="my-5">
      <h2>Update Profile</h2>
    </div>

    <div id="alert_box">
    </div>

    <!--  NICKNAME  -->
    <div class="mb-3">
      <label for="nickname" class="form-label">nickname</label>
      <input id="nickname" type="text" class="form-control">
    </div>
    <!--  IMAGE  -->
    <div class="mb-3">
      <label for="image" class="form-label">image</label>
      <input id="image" type="file" accept="image/*" class="form-control">
    </div>
    <!--  MESSAGE  -->
    <div class="mb-3">
      <label for="message" class="form-label">message</label>
      <input id="message" type="text" class="form-control">
    </div>

    <input type="submit" class="btn btn-dark rounded-pill px-5" onclick="send_input()">

  </div>

<script src="{% static 'profileapp/js/update.js' %}"></script>


{% endblock %}